In [4]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
import numpy as np
import math
import os
import shapely
import shapely.vectorized

# nishi = gpd.read_file('./area_extracted/______220526.shp')
chiba = gpd.read_file('../gis/area.shp')
table = pd.read_csv('./unity.csv',encoding='shift-jis')

In [5]:
chiba = chiba.merge(table,on='SHOZAI')

In [14]:
print(type(chiba.iat[0,-1]))
print(isinstance(chiba.iat[0,-1], int))

<class 'numpy.int64'>
False

In [6]:
# pd.set_option('display.max_columns', None)
# y1 = nishi[['ID','Density1','Age1','geometry']]
chiba

,KANRICD,field_1,ID_x,CITY_N,SHOZAI,NAME_O,NAME_K,TIBANR,TIMOKUT,AREA_T,...,Density51,Density52,Density53,Density54,Density55,Density56,Density57,Density58,Density59,Density60
0,22521000000140100000000000,2998,135208,NaN,大井戸1401,大井戸,NaN,1401,NaN,0.0,...,775,775,775,775,775,775,775,775,775,775
1,22521000000141500000000000,2999,136280,NaN,大井戸1415,大井戸,NaN,1415,NaN,0.0,...,543,543,543,543,543,543,543,543,543,543
2,22521000000142500000000000,3000,136404,NaN,大井戸1425,大井戸,NaN,1425,NaN,0.0,...,631,631,631,631,631,631,631,631,631,631
3,22521000000164300000000000,3001,139865,NaN,大井戸1643,大井戸,NaN,1643,NaN,0.0,...,861,861,861,861,861,861,861,861,861,861
4,22521000000165400000000000,3002,136337,NaN,大井戸1654,大井戸,NaN,1654,NaN,0.0,...,865,865,865,865,865,865,865,605,605,605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816,22551600270127300000000000,12409,153693,NaN,山滝野1273,山滝野,NaN,1273,山林,15500.0,...,1178,1178,883,883,883,883,883,883,883,883
817,22551600280127400001000000,12410,156321,NaN,山滝野1274-1,山滝野,NaN,1274-1,山林,20116.0,...,1424,1424,1424,1424,1139,1139,1139,1139,1139,854
818,22551600280128200001000000,12411,161239,NaN,山滝野1282-1,山滝野,NaN,1282-1,山林,1892.0,...,643,643,643,643,643,643,643,643,643,643
819,22551600280128300000000000,12412,161811,NaN,山滝野1283,山滝野,NaN,1283,山林,6026.0,...,571,571,571,571,571,571,571,571,571,571
820,22551600290131000000000000,12413,161735,NaN,山滝野1310,山滝野,NaN,1310,山林,9600.0,...,910,910,910,910,910,910,910,910,637,637

In [18]:
import os
os.mkdir('Year1')
y1.to_file('Year1/polygons.shp')

In [18]:
# Polygons mode
for i in range(1,61):
    exec("polygon = chiba[['field_1','Density{}','Age{}','geometry']]".format(i,i))
#     exec("polygon.iloc[:,0] = np.ceil(polygon['Age{}']/5)".format(i))
#     exec("polygon.iloc[:,0] = 'forest_'+polygon['Age{}'].astype(int).astype(str)".format(i))
#     polygon.insert(0,'id',polygon.index+1)
#     exec("polygon = polygon.rename(columns={{'Age{}':'natural'}})".format(i))
    exec("polygon = polygon.rename(columns={{'field_1':'ID','Density{0}':'Density1','Age{1}':'Age1'}})".format(i,i))
    polygon = polygon.to_crs('epsg:4326')
    dname = f'./polygons/polygon{i}'
    if not os.path.exists(dname):
        os.makedirs(dname)
    polygon.to_file(f'{dname}/polygons.shp')

In [177]:
### Points mode
points_gdf = gpd.GeoDataFrame()
for i in range(len(nishi)):
    polygon = nishi[i:i+1]
    if polygon.iat[0,polygon.columns.get_loc('Density60')] == 0:
        continue
    grid_res = 100 / round(math.sqrt(polygon.iat[0,polygon.columns.get_loc('Density60')]))
    age = int(polygon.iat[0,polygon.columns.get_loc('Age60')])
    age = age if age < 200 else 200
    
    minx = np.floor(polygon.geometry.bounds.iat[0,0] / grid_res) * grid_res
    maxx = np.ceil(polygon.geometry.bounds.iat[0,2] / grid_res) * grid_res
    miny = np.floor(polygon.geometry.bounds.iat[0,1] / grid_res) * grid_res
    maxy = np.ceil(polygon.geometry.bounds.iat[0,3] / grid_res) * grid_res

    x = np.arange(minx,maxx+grid_res/2,grid_res)
    y = np.arange(miny,maxy+grid_res/2,grid_res)
    XX,YY = np.meshgrid(x,y)

    # use shapely.vectorized to find all points within the polygon
    in_polygon = shapely.vectorized.contains(polygon.iat[0,polygon.columns.get_loc('geometry')],XX,YY)

    # filter the points and flatten them to 1D vectors
    x_in_polygon = XX[in_polygon].ravel()
    y_in_polygon = YY[in_polygon].ravel()
    point_geom = [Point(x,y) for x,y in zip(x_in_polygon,y_in_polygon)]
    ages = [int(age)]*len(point_geom)
    point_gdf = gpd.GeoDataFrame({'tree':ages},geometry=point_geom,crs=polygon.crs)
    points_gdf = gpd.GeoDataFrame(pd.concat([points_gdf,point_gdf],axis=0),crs=polygon.crs)

In [178]:
points_gdf['tree'] = 'Age'+points_gdf['tree'].astype(int).astype(str)
points_gdf = points_gdf.reset_index(drop=True)
points_gdf.insert(0,'id',points_gdf.index+1)
points_gdf = points_gdf.to_crs('epsg:4326')
points_gdf

          id   tree                    geometry
0          1  Age58  POINT (139.26073 35.90173)
1          2  Age58  POINT (139.26063 35.90175)
2          3  Age58  POINT (139.26066 35.90175)
3          4  Age58  POINT (139.26069 35.90175)
4          5  Age58  POINT (139.26053 35.90178)
...      ...    ...                         ...
13450  13451  Age28  POINT (139.26405 35.90271)
13451  13452  Age28  POINT (139.26408 35.90271)
13452  13453  Age28  POINT (139.26410 35.90271)
13453  13454  Age28  POINT (139.26413 35.90271)
13454  13455  Age28  POINT (139.26416 35.90271)

[13455 rows x 3 columns]

In [179]:
points_gdf.to_file('./Year60/points.shp')